In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=UserWarning)

In [37]:
import pandas as pd
import numpy as np
import matplotlib as plt
from sklearn.tree import DecisionTreeRegressor
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
import warnings
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor

In [3]:
df=pd.read_csv('dataset.csv')
df.head()

   Product     Month  Special Days  Number of Products Sold  Shelf Life
0  Colgate   January           4.0                    551.0        18.0
1  Colgate  February           1.0                    494.0        18.0
2  Colgate     March           2.0                    513.0        18.0
3  Colgate     April           4.0                    543.0        18.0
4  Colgate       May           1.0                    498.0        18.0

In [4]:
df=df.iloc[:120,:]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Product                  120 non-null    object
 1   Month                    120 non-null    object
 2   Special Days             120 non-null    float64
 3   Number of Products Sold  120 non-null    float64
 4   Shelf Life               120 non-null    float64
dtypes: float64(3), object(2)
memory usage: 4.8+ KB

In [6]:
ohe = OneHotEncoder()
ohe.fit(df[['Product','Month']])
ct=make_column_transformer((OneHotEncoder(),['Product','Month']),remainder='passthrough')

In [7]:
df.head()

   Product     Month  Special Days  Number of Products Sold  Shelf Life
0  Colgate   January           4.0                    551.0        18.0
1  Colgate  February           1.0                    494.0        18.0
2  Colgate     March           2.0                    513.0        18.0
3  Colgate     April           4.0                    543.0        18.0
4  Colgate       May           1.0                    498.0        18.0

In [8]:
x = df.iloc[:,[0,1,2]]
y = df.iloc[:, [3]]

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [39]:
lr = LinearRegression()
rf= RandomForestRegressor()

In [40]:
pipe= make_pipeline(ct,lr)
piper=make_pipeline(ct,rf)

In [12]:
df.describe()

       Special Days  Number of Products Sold  Shelf Life
count    120.000000               120.000000  120.000000
mean       2.916667              1045.650000   18.700000
std        2.940826               695.855747    8.880722
min        0.000000               201.000000    7.000000
25%        1.000000               507.750000    9.000000
50%        2.000000               722.000000   21.000000
75%        4.000000              1601.750000   24.000000
max       11.000000              3047.000000   36.000000

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Product                  120 non-null    object
 1   Month                    120 non-null    object
 2   Special Days             120 non-null    float64
 3   Number of Products Sold  120 non-null    float64
 4   Shelf Life               120 non-null    float64
dtypes: float64(3), object(2)
memory usage: 4.8+ KB

In [42]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(),
                                                  ['Product', 'Month'])])),
                ('linearregression', LinearRegression())])

In [43]:
piper.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(),
                                                  ['Product', 'Month'])])),
                ('randomforestregressor', RandomForestRegressor())])

In [15]:
df['Product'].unique()

array(['Colgate', 'Lifebuoy Soap', 'Freedom Sunflower oil', 'Tata Salt',
       'Saffola masala Oats', 'Britania', 'Dairy Milk', 'Vim Bar',
       'Surf Excel', 'Three Roses'], dtype=object)

In [17]:
y_pred=pipe.predict(x_test)
r2_score(y_pred,y_test)

0.9900944308031757

In [44]:
y_pred=piper.predict(x_test)
r2_score(y_pred,y_test)

0.9835364453849841

In [ ]:

print(y_test)

In [36]:
pipe.predict(pd.DataFrame([['Colgate','March',3.0]],columns=['Product','Month','Special Days']))

array([[529.15506254]])